<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <div class="alert alert-danger" role="alert">
        Something goes wrong! <%= errorMessage %>
      </div>
    </main>
    <%- include('partials/_bootstrap') %>
  </body>
</html>
